.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
  
.navbarLink
{
    margin-right: .5em;
    font-size: 1.2em;
    font-family: sans-serif;
    cursor: pointer;
    color: #181818;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in-out;
    display: inline-block;
}
  
.navbarLink:hover
{
    transform: scale(1.05);
    text-decoration: none;
}

.navbarLink--active
{
    border-bottom: 3px solid #2457ff;
    transition: border-bottom .5s ease-in-out;
}
  